.mainContainer {
  background-color: #131722;
  color: white;
}
.buttonsAccDel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  text-align: center;
  vertical-align: middle;
}

.btnWrapper{
  flex: 0.3;
  margin-left: 10px;
  margin-right: 10px;
}
